@model Proyecto_WEB.Models.Progreso
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Registrar Progreso</h1>

<form asp-action="CrearProgreso" method="post">
    <div class="form-group">
        <label for="Peso">Peso Actual (kg):</label>
        <input type="number" id="Peso" name="Peso" class="form-control" value="@Model.Peso" step="0.1" required />
    </div>
    <div class="form-group">
        <label for="CantidadEJercicios">Ejercicios Realizados:</label>
        <input type="number" id="CantidadEJercicios" name="CantidadEJercicios" class="form-control" value="@Model.CantidadEJercicios" required />
    </div>
    <div class="form-group">
        <label for="DuracionEntrenamiento">Duración del Entrenamiento (minutos):</label>
        <input type="number" id="DuracionEntrenamiento" name="DuracionEntrenamiento" class="form-control" value="@Model.DuracionEntrenamiento" step="0.1" required />
    </div>    
    <input type="hidden" asp-for="UsuarioID" value="@Model.UsuarioID" />
    <input type="hidden" name="FechaRegistro" value="@DateTime.Now" />
    <button type="submit" class="btn btn-primary">Registrar Progreso</button>
</form>