@model List<Proyecto_WEB.Models.Membresia>

<h1>Membresías</h1>


<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var membresia in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-80">
                @if (membresia.MembresiaID == 1)
                {
                    <img src="/images/sinMembresia.jpg" class="card-img-top" alt="Sin Membresia">
                }
                else if (membresia.MembresiaID == 2)
                {
                    <img src="/images/regular.jpg" class="card-img-top" alt="Regular">
                }
                else if (membresia.MembresiaID == 3)
                {
                    <img src="/images/premium.jpg" class="card-img-top" alt="Premium">
                }

                <div class="card-body">
                    <h5 class="card-title">@membresia.TipoMembresia</h5>
                    <p class="card-text">
                        Precio: $@membresia.Precio <br />
                        Duración: @membresia.Duracion <br />
                        Beneficios: @membresia.Beneficios
                    </p>

                    @if (membresia.MembresiaID == 1)
                    {
                        <form method="get" action="@Url.Action("SinMembresia", "Membresias")">
                            <button type="submit" class="btn btn-primary">Actualizar Sin Membresía</button>
                        </form>
                    }
                    else if (membresia.MembresiaID == 2)
                    {
                        <form method="get" action="@Url.Action("MembresiaRegular", "Membresias")">
                            <button type="submit" class="btn btn-primary">Actualizar Membresía Regular</button>
                        </form>
                    }
                    else if (membresia.MembresiaID == 3)
                    {
                        <form method="get" action="@Url.Action("MembresiaPremium", "Membresias")">
                            <button type="submit" class="btn btn-primary">Actualizar Membresía Premium</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>
