@model List<Proyecto_WEB.Models.Empleado>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Empleados</h1>
</div>

<div class="row">
    @foreach (var empleado in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@empleado.Nombre @empleado.Apellidos</h5>
                    <p class="card-text">
                        Usuario Asociado: @empleado.UsuarioID <br />
                        Fecha de Nacimiento: @empleado.FechaNacimiento.ToShortDateString() <br />
                        Teléfono: @empleado.Telefono <br />
                        Email: @empleado.Email <br />
                        Dirección: @empleado.Direccion <br />
                        Fecha de Contratación: @empleado.FechaContratacion.ToShortDateString() <br />
                        Cargo: @empleado.NombreCargo <br />
                    </p>
                </div>
            </div>
        </div>
    }
</div>
