@model List<Proyecto_WEB.Models.Clase>

@{
    ViewData["Title"] = "Clases";
}

<h2>Clases</h2>

@if (ViewBag.Error != null)
{
    <h1>@ViewBag.Error</h1>
}

<div class="row">
    @foreach (var clase in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-80">
                    <img src="/images/clases.jpg" class="card-img-top" alt="Clases">
                <div class="card-body">
                    <h4 class="card-title">@clase.Nombre</h4>
                    <h5>Entrenador Encargado: @clase.Entrenador</h5>
                    <p class="card-text">
                        Duración: @clase.Duracion min<br />
                        Horario: @clase.Horario<br />
                        Descripción: @clase.Descripcion
                    </p>
                    <a href="@Url.Action("RegistrarMiembroEnClase", "Clase", new { claseId = clase.ClaseID })" class="btn btn-primary">Registrarme</a>
                </div>
            </div>
        </div>
    }
</div>
